<div>

  <h1>Hello, {{user_name}}!</h1>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
{{!-- navbar-brand makes the link font larger --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#">Entry <span class="sr-only">(current)</span></a>
        </li>
{{!-- once we move past the entry step, we'll change the href of the entry to go back to that step (same with the gallery)  --}}
{{!-- we'll remove the "disabled" class from these after an entry has been saved --}}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Map</a>
        </li>
      </ul>
    </div>
  </nav>
  <form class="create-form">
    <div class="form-group">
      {{!-- <label for="ca">New Burger:</label> --}}
      <input type="text" id="ca" name="tripEntry" placeholder="Tell what happened on your trip">
    </div>
    <button type="submit" id="toGallery">Save entry and move to gallery</button>
    <button type="submit" id="complete">Submit without pics or location</button>
  </form>

  {{!-- This will be under the current post --}}
  <ul>
    {{#each post}}
      <li>
        {{id}} {{tripEntry}}
{{!-- Try to look into a way that our tripEntry (if very long) will default to only showing the first 3-5 lines (maybe with a clickable extender/minimizer), so each entry doesnt take up too much room         --}}
        <button class="editEntry" data-id="{{id}}">
          Edit this entry
        </button>
      </li>
    {{/each}}
  </ul>
</div>