.contents {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  opacity: 0.9;
}

#rememberMe {
  position: relative;
  left: 47%;
}
/* h1 {
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  padding-left: 13%;
  display: inline;
  
  height: 50px;
} */

.top {
  padding-bottom: 5px;
}

.welcome {
  /* text-align: center; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Marck Script', cursive;
  padding-left: 13%;
  font-size: 150%;
}

.entry {
  width: 100%;
  min-height:  300px;
  background-image: url("../images/vintage-paper.jpeg");
  background-repeat: none;
  background-size: cover;
  text-align: left;
}

.entry p {
  font-family: 'Playfair Display', serif;
  text-indent: 50px;
  font-size: 70%;
  line-height: 1.3;
  margin: 5px 10px
}

#mapid {
  margin: 1% 7%;
  height: 400px;
  width: 86%; 
}

.viewerTitle {
  padding-top: 1%;
  font-size: 60px!important;
}

.collapsible {
  background: white;
  border: none;
  width: 100%;
  outline: none!important;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* #username {
  font-size: 150%;
} */

.QaI {
  height: 90px;
  /* float: left; */
}

/* ^^^^  UNCOMMENT THIS OUT AND SEE WHAT HAPPENS TO THE WELCOME.HTML PAGE*/

.imgBackground {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.autocomplete {
  position: relative;
  display: inline-block;
}

body {
  /* min-width: 100%;
  min-height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; */
  font-size: 20.5px;
  /* padding: 20px; */
  text-align: center;
}

form {
  border: 3px solid #f1f1f1;
  margin: 0 auto;
  width: 350px;
  padding: 30px 20px;
  background-color: white
}


input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.loginPage {
  font-family: 'Marck Script', cursive;
  font-size: 120%;
  text-align: center;
}

.loginLinks {
  float: right;
  margin: 10px 10px 0 0;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
  display: block;
  text-decoration: none;
}

.up1, .up2 {
  position: absolute;
  top: 0;
  right: 0;
}

.up2 {
  margin-right: 80px
}

.navbar-brand {
  font-size: 110%;
  
}

.entryLog {
  border: solid lightgray 1px;
  padding: 5px;
  margin-bottom: 20px
}

.entryTitle {
  font-size: 30px;
  font-family: 'Marck Script', cursive;
}

/* .nav-item {
  margin-left: 48%!important;
  margin-right: 48%!important;
} */

.pixa {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 5px 18px;
  background-color: #f44336;
}

/* .welcome {
  
} */

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
/* img.avatar {
  width: 10%;
  height: 30%;
  border-radius: 50%;
} */

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
/* span.psw {
  float: right;
  padding-top: 37px;
} */

p.psw {
  margin-bottom: 0;
}

/* .button {
  background-color: #e4d899;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
} */


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  p.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 